
.container{
    width: 100%;
    height: 100%;
}

.map-container {
    width:100%;
    margin-right: 20px;
    
}


.mapboxgl-map{
    width:100%;
    height: 100%;
}

.map-data-container{
    width: 100%;
    height:100%;
    display:flex;
}

body{
    background-color: #13315C;
    color: #EEF4ED;
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.col{
    display: inline-block;
    align-items: center;
    padding: 20px;

}

.col-countries{
    display: inline-block;
    align-items: center;
    padding: 20px;
}

.col-countries:first-child{
    border-right: 2px solid #000;
}

.graph{
    background-color: #EEF4ED;
}

.accordion-button {
    background-color: #134074 !important;
    color: white;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #134074 !important;
    color: white;
  }

  .accordion-body{
    background-color: #13315C !important;
    color: white;
  }



