

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.map-container {
  height: 500px;
  width: 500px;
  align-items: center;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.GraphCollection {
  width: 100%;
  height: 400px;
  margin-bottom: 25px;
  
}

.GraphCompare {
  width: 40%;
  height:100%;
  margin:20px;
  display: inline-block;
  align-items: center;
}

.CenterItems{
  align-items: center;
}

.Graph {
  width: 28%;
  display: inline-block;
  margin:20px;
  height: 100%;
}

.RipeChart {
  margin: 20px;
  width: 80%;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
